<div class="modal-header  margin-top-10 ">
    <div class="portlet box green-dark">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-user"></i>Yeni Mekan Tipi Ekle
            </div>
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="blog-single-foot">
        <div class="blog-post-meta">

            <div class="form-group">
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Ad Soyad" name="username" ng-minlength="6"
                       required ng-model="user.User_Name" />

                <div ng-show="form.$submitted || form.username.$touched">
                    <p ng-show="form.username.$error.required" class="alert alert-info">Ad-Soyad Alanını Doldurunuz</p>

                    <p ng-show="form.username.$error.minlength" class="alert alert-danger">Ad-Soyad  Çok Kısa</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" ng-disabled="form.$invalid" id="register-submit-btn" class="btn btn-success uppercase " ng-click="addnewuser()">Ekle</button>
    <button class="btn red btn-primary" type="button" ng-click="close()">Kapat</button>
</div>
