
<ion-modal-view>
    <ion-content>
        <div class="post-content item item-text-wrap" post-content>
            <div ng-if="isLogged">
                <label class="item item-input item-stacked-label">
                    <span class="label label-info calm">Yorum Yap</span>
                    <hr />
                    <textarea rows="5" style="width:100%;" class="form-control c-square" name="message" ng-model="comment.Comment"></textarea>

                </label>
                <button class="button button-small button-assertive pull-right" style="float: right; margin: 10px;" ng-click="sendComment()">Gönder</button>

                <br />
                <h2 class="label label-info calm">
                    Yorumlar
                </h2>
                <br />
            </div>

            <div class="list">
                <ion-scroll style="height: 400px;" direction="y">

                    <span class="item item-avatar" ng-repeat="comment in location.Comments" style="border:0px!important;margin-bottom:4px; background-color:#f3f1f1">
                        <img ng-src="{{comment.UserImgPath}}" style="margin-left:0px!important;    margin-top: 0px!important">
                        <span>{{comment.UserName}}</span>
                        <p>{{comment.Comment}}</p>
                    </span>
                </ion-scroll>

            </div>
        </div>
    </ion-content>

    <ion-footer-bar class="post-footer bar bar-footer bar-calm" style="background-color:transparent!important">
        <div class="row">
            <div class="col-offset-80 col-center">
                <a class="button button-calm" ng-click="close()">Kapat</a>
            </div>
        </div>
    </ion-footer-bar>
</ion-modal-view>
