
    <ion-nav-title>
        <span>{{location.Name}}</span>
    </ion-nav-title>
    <ion-content>
        <br />
        <br />
        <div class="post-content item item-text-wrap" post-content>
            <ion-slide-box show-pager="true">
                <ion-slide ng-repeat="slide in slides">
                    <div class="list card">
                        <div class="item item-image">
                            <img ng-src="{{slide.image}}">
                        </div>
                        <div class="item item-body">

                        </div>
                    </div>
                </ion-slide>
            </ion-slide-box>
            <hr />
            <p class="post-excerpt" dynamic-anchor-fix ng-bind-html="location.Info | rawHtml"></p>
            <br />
            <div ng-if="isLogged">

              
                <label class="item item-input item-stacked-label">
                    <span class="label label-info calm">Yorum Yap</span>
                    <hr />
                    <textarea rows="5" style="width:100%;" class="form-control c-square" name="message" ng-model="comment.Comment" ></textarea>

                </label>
                <button class="button button-small button-assertive pull-right" style="float: right; margin: 10px;" ng-click="sendComment()">Gönder</button>

                <br />
                <h2 class="label label-info calm">
                    Yorumlar
                </h2>

                <br />
            </div>
            <div class="list">

                <span class="item item-avatar" ng-repeat="comment in location.Comments" style="border:0px!important;margin-bottom:4px; background-color:#f7f5f5">
                    <img ng-src="{{comment.UserImgPath}}" style="margin-left:0px!important;    margin-top: 0px!important">
                    <span >{{comment.UserName}}</span>
                    <p>{{comment.Comment}}</p>
                </span>
            </div>
            <br />

        </div>
        <!--<div class="post-tags item item-text-wrap">
            <span class="post-tag button button-small button-outline button-stable">{{category.title}}</span>
        </div>-->
    </ion-content>

    <ion-footer-bar class="post-footer bar bar-footer" style="background-color:transparent!important">
        <div class="row">

            <div class="col col-20 col-center" ng-if="location.IsLiked">
                <button class="button button-assertive  icon icon-left ion-ios-star" ng-click="unlike(location.ID)">
                    {{location.LikeCount}}
                </button>

            </div>
            <div class="col col-20 col-center" ng-if="!location.IsLiked">
                <button class="button  button-calm   icon icon-left ion-ios-star-outline" ng-click="like(location.ID)">
                    {{location.LikeCount}}
                </button>
            </div>
            <div class="col-offset-50 col-center">
                <a class="button button-calm" ng-click="open()" ng-disabled="location.DistanceToUser<=0">Yol Tarifi Al</a>
            </div>
        </div>
    </ion-footer-bar>

