/* here you can put your own css to customize and override the theme */
.hor-menu a{
    color:darkblue;
}
.angular-google-map-container { height: 500px; }
img.adp-marker {
margin-right:15px!important;
}
.adp, .adp table {
width: 100%;
}
.adp-summary {
    text-align: center;
    color: #337ab7;
    font-size: 22px;
    margin: 10px;
}
.search-content-3 .tile-container>.tile-thumbnail img{
        height: 150px;
       
}

.center-modal {
    position: fixed;
    top: 10%;
    left: 18.5%;
    z-index: 1050;
    width: 80%;
    height: 80%;
    margin-left: -10%;
}