<div class="row">
    <div class="col-md-6 col-lg-4 col-lg-8 hidden-xs">
        <!--<img src="../../assets/global/img/acarlar.jpg" class="img-responsive" />-->
        <slider></slider>
    </div>
    <div class="col-md-6 col-xs-12 col-lg-4 ">
        <form class="login-form" action="index.html" method="post">
            <h3 class="form-title font-green">Sign In</h3>
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span> Enter any username and password. </span>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Username</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </span>
                    <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-lock"></i>
                    </span>
                    <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" />
                </div>
            </div>
            <div class="form-actions">
                <label class="rememberme check" style="margin-left:40px">
                    <input type="checkbox" name="remember" value="1" />Remember
                </label>
                <button type="submit" class="btn green uppercase pull-right">Login</button>
            </div>
            <br />
            <div class="login-options">
                <h4 style="margin-left:20px">Or login with</h4>
                <ul class="social-icons pull-right">
                    <li >
                        <a class="social-icon-color facebook" data-original-title="facebook" ng-click="login('facebook')"></a>
                    </li>
                    <li>
                        <a class="social-icon-color twitter" data-original-title="Twitter" ng-click="login('twitter')"></a>
                    </li>
                    <li >
                        <a class="social-icon-color googleplus" data-original-title="Goole Plus" ng-click="login('google')"></a>
                    </li>
                </ul>
            </div>
            <div class="create-account">
                <p>
                    <a href="#" ui-sref="home.register" id="register-btn" class="uppercase">Create an account</a> 
                    <a ui-sref="home.forgot" id="forget-password" class="pull-right"> Forgot Password?</a>
                  
                </p>
            </div>
        </form>
    </div>
 
</div>
