
<div class="page-header-menu bg-blue">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-offset-1 col-lg-5">
                <div class="hor-menu ">
                    <ul class="nav nav-justified">
                        <li style="padding: 10px;">
                            <div class="input-group">
                                <ui-select ng-model="multipleDemo.selectedPeople"
                                           theme="bootstrap"
                                           ng-class="{open: $select.open}"
                                           ng-disabled="disabled" style="min-width: 300px;" >
                                    <ui-select-match placeholder="Bölge">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="person in people| propsFilter: {name: $select.search, age: $select.search}">
                                        <div ng-bind-html="person.name | highlight: $select.search"></div>
                                        <small>
                                            email: {{person.email}}
                                            age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button ng-click="person.selected = undefined" class="btn btn-default">
                                        <span class="fa fa-search"></span>
                                    </button>
                                </span>
                            </div>

                        </li>
                        <li style="padding: 10px;">
                            <button class="btn btn-circle blue-chambrayt">Ara</button>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <!-- END MEGA MENU -->
    </div>
</div>
