
<div class="page-header-menu bg-blue">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-offset-1 col-lg-5">
                <div class="hor-menu ">
                    <ul class="nav navbar-nav">    
                        <li ng-show="isLogged!==true">
                            <a ui-sref="home.login">
                               Anasayfa
                            </a>
                        </li>                 
                        <li ng-show="isLogged!==true" class="hidden-md hidden-lg">
                            <a ui-sref="home.login">
                                <i class="fa fa-sign-in right"></i>Giriş Yap
                            </a>
                        </li>
                        <li ng-show="isLogged!==true" class="hidden-md hidden-lg">
                            <a ui-sref="home.register"><i class="fa fa-registered"></i>Kayıt Ol</a>
                        </li>                    
                    </ul>
                </div>
            </div>
        </div>

        <!-- END MEGA MENU -->
    </div>
</div>
