<ion-view class="login-view auth-view" cache-view="false">
    <ion-content scroll="false">
        <div class="row">
            <div class="col col-center">
                <div class="card login-container" content-tabs tabsdata='tabsdata'>
                    <form name="login_form" class="" novalidate ng-cloak>
                        <my-tabs>
                            <my-tab title="Sakarya Rehberi">
                                <div class="list">
                                    <label class="item item-input">
                                        <input type="email" placeholder="Email" name="user_email" ng-model="user.email" required>
                                    </label>
                                    <label class="item item-input" show-hide-container>
                                        <input type="password" placeholder="Şifre" name="user_password" ng-model="user.password" required show-hide-input>
                                    </label>
                                </div>
                            </my-tab>
                        </my-tabs>
                        <div class="item item-body bottom-content">
                            <button type="submit" class="button button-positive button-block" ng-click="doLogIn()" ng-disabled="(login_form.user_email.$invalid || login_form.user_password.$invalid)">
                                Giriş Yap
                            </button>

                        </div>
                     
                    </form>
                </div>
                <div style="text-align:center" class="padding">
                    <button class="button button-calm icon ion-social-twitter-outline button-round " ng-click="socialLogin('twitter')">Twitter</button>
                    <button class="button  icon  button-assertive ion-social-facebook-outline button-round" ng-click="socialLogin('facebook')"> Facebook</button>
                    <button class="button  icon button-assertive ion-social-google-outline button-round" style="background-color:red;color:wheat" ng-click="socialLogin('google')">Google+</button>


                </div>
                <div class="alternative-actions">
                    <a class="forgot-password button button-small button-clear button-light" ui-sref="auth.forgot-password">
                        Şifremi Unuttum?
                    </a>
                    <a class="sign-up button button-small button-clear button-light" ui-sref="auth.signup">
                        Kayıt Ol
                    </a>
                    <a class="button  button-block button-royal " ui-sref="app.home">
                        Giriş Yapmadan Devam Et
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
  
</ion-view>
