<div>
    <header></header>
    <div class="clearfix"> </div>
    <!--<div class="page-head">
        <div class="page-head">
            <div class="container">
                <div class="page-title">
                  
                </div>
           
            </div>
        </div>
    </div>-->
    <div class="page-container">
        <div class="page-content-wrapper">          
            <div class="page-content">
                <div class="container">

                    <div ui-view></div>
                 
                </div>
            </div>
        </div>
    </div>
</div>


