<div class="page-content-inner">
    <div class="row">
        <div class="col-md-12 ">
            <!-- BEGIN PROFILE SIDEBAR -->
            <div class="profile-sidebar">
                <!-- PORTLET MAIN -->
                <div class="portlet light profile-sidebar-portlet  ">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        <img ng-src="{{user.ImgPath}}" class="img-responsive" alt="">
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle ">
                        <div class="profile-usertitle-name"> {{user.Name}} </div>
                        <div class="profile-usertitle- "> {{user.TypeName}} </div>
                    </div>
                    <br />


                    <!-- END MENU -->
                </div>
                <!-- END PORTLET MAIN -->
                <!-- PORTLET MAIN -->
                <div class="portlet light ">
                    <!-- STAT -->
                    <div class="row list-separated profile-stat">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                           

                            <div class="uppercase profile-stat-title"><a ng-href="#tab2" data-toggle="tab" ng-click='go()'>{{user.CommentCount}} </a> </div>
                            <div class="uppercase profile-stat-text"> Yorum </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="uppercase profile-stat-title"><a ng-href="#tab3" data-toggle="tab" ng-click='go()'> {{user.LikeCount}} </a></div>
                            <div class="uppercase profile-stat-text"> Beğeni </div>
                        </div>
                       
                    </div>
                    <!-- END STAT -->
                    <div>
                        <!--<h4 class="profile-desc-title">About Marcus Doe</h4>
                        <span class="profile-desc-text"> Lorem ipsum dolor sit amet diam nonummy nibh dolore. </span>
                        <div class="margin-top-20 profile-desc-link">
                            <i class="fa fa-globe"></i>
                            <a href="http://www.keenthemes.com">www.keenthemes.com</a>
                        </div>
                        <div class="margin-top-20 profile-desc-link">
                            <i class="fa fa-twitter"></i>
                            <a href="http://www.twitter.com/keenthemes/">@keenthemes</a>
                        </div>
                        <div class="margin-top-20 profile-desc-link">
                            <i class="fa fa-facebook"></i>
                            <a href="http://www.facebook.com/keenthemes/">keenthemes</a>
                        </div>-->
                    </div>
                </div>
                <!-- END PORTLET MAIN -->
            </div>
            <!-- END BEGIN PROFILE SIDEBAR -->
            <!-- BEGIN PROFILE CONTENT -->
            <div class="profile-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light ">
                            <div class="portlet-title tabbable-line">
                                <div class="caption caption-md">
                                    <i class="icon-globe theme-font hide"></i>
                                    <span class="caption-subject font-blue-madison bold uppercase">Profil Hesabı</span>
                                </div>
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a ng-href="#tab1" data-toggle="tab" ng-click='go()'>Kullanıcı Bilgileri</a>
                                    </li>
                                    <li>
                                        <a ng-href="#tab2" data-toggle="tab" ng-click='go()'>Yorumlar</a>
                                    </li>
                                    <li>
                                        <a ng-href="#tab3" data-toggle="tab" ng-click='go()'>Beğeniler</a>
                                    </li>
                                    <li>
                                        <a ng-href="#tab4" data-toggle="tab" ng-click='go()'>Şifre Değiştir</a>
                                    </li>


                                </ul>
                            </div>
                            <div class="portlet-body">
                                <div class="tab-content">
                                    <!-- TAB1 -->
                                    <div class="tab-pane active" id="tab1">
                                        <form action="#" role="form">
                                            <div class="form-group">
                                                <div class="fileinput fileinput-exists" data-provides="fileinput">
                                                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px; line-height: 150px;">
                                                        <img ng-src="{{profileImg}} " style="height:100%"></div>
                                                    <div>
                                                        <span class="btn blue btn-outline btn-file">
                                                            <span class="fileinput-new"> Profil Resmi Seç </span>
                                                            <span class="fileinput-exists">Profil Resmini Değiştir </span>
                                                            <input type="hidden" value="" name=""><input type="file" name="...">
                                                        </span>
                                                        <a href="javascript:;" class="btn green fileinput-exists" data-dismiss="fileinput"> Kaydet </a>
                                                    </div>
                                                </div>
                                               

                                            </div>

                                            <div class="form-group">
                                                <label class="control-label">Ad Soyad</label>
                                                <input type="text" placeholder="John" class="form-control" />
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label">Email</label>
                                                <input type="text" placeholder="jsnowbastard@hotmail.com" class="form-control" />
                                            </div>

                                            <div class="margiv-top-10">
                                                <a href="javascript:;" class="btn green"> Değişiklikleri Kaydet </a>
                                                <a href="javascript:;" class="btn default"> İptal </a>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- TAB2 -->
                                    <div class="tab-pane" id="tab2">
                                        <div class="row" ng-repeat="comment in comments">
                                            <div class="col-lg-8 col-lg-offset-2">
                                                <p class="bg-white bg-font-white">{{comment.UserName}} 
                                                <a ui-sref="home.locationDetails({locationId: comment.LocationId   })">{{comment.LocationName}}</a>
                                                 mekanına <span am-time-ago="comment.Date" style="font-style: italic;text-decoration: underline;"></span>    yorum yaptı. </p>

                                                <blockquote class="bg-white bg-font-white">
                                                    <i class="fa fa-commenting"></i>
                                                    {{comment.Comment}}
                                                </blockquote>
                                            </div>
                                         
                                        </div>
                                        <hr />


                                    </div>
                                    <!-- TAB4 -->
                                    <div class="tab-pane" id="tab4">
                                        <form action="#">
                                            <div class="form-group">
                                                <label class="control-label">Mevcut Şifre</label>
                                                <input type="password" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Yeni Şifre</label>
                                                <input type="password" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Tekrar Yeni Şifre</label>
                                                <input type="password" class="form-control" />
                                            </div>
                                            <div class="margin-top-10">
                                                <a href="javascript:;" class="btn green"> Kaydet </a>
                                                <a href="javascript:;" class="btn default"> İptal </a>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PROFILE CONTENT -->
        </div>
    </div>
</div>
