<div class="page-header">
    <div class="page-header-top">
        <div class="container">
            <div class="row">
                <ul class="nav navbar-nav">                   
                    <li style="max-width:500px; padding: 16px;float:left">
                        <a ui-sref="home.locations" ui-sref-opts="{reload: true}">
                            <img src="{{logo}}" alt="logo" class="logo-default">
                        </a>
                    </li>                 
                    <li style="padding-right:10px" class="pull-right">
                        <a href="javascript:;" class="menu-toggler"></a>
                    </li>
                </ul>
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right-md">                       

                        <li style="float:left;" class="hidden-xs" ng-show="isLogged!==true">
                            <a ui-sref="home.login" ui-sref-opts="{reload: true}">
                                <i class="fa fa-sign-in right"></i>Giriş Yap
                            </a>
                        </li>
                        <li style="float:left" class="hidden-xs" ng-show="isLogged!==true">
                            <a ui-sref="home.register" ui-sref-opts="{reload: true}"><i class="fa fa-registered"></i>Kayıt Ol</a>
                        </li>
                        <li class="dropdown dropdown-user dropdown-dark" ng-show="isLogged===true" class="hidden-xs">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <img alt="" class="img-circle" ng-src="{{profileImg}}">
                                <span class="username">{{nick}}</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                <li>
                                    <a ng-click="logout()">
                                        <i class="icon-key"></i> Log Out
                                    </a>
                                </li>
                                <li>
                                    <a ng-show="showAdminPanel" ui-sref="admin">
                                        <i class="icon-key"></i> Admin Panel
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>

        </div>


    </div>
    <menu></menu>

</div>
