<div class="page-header">
    <div class="page-header-top">
        <div class="container">
            <div class="row">
                <ul class="nav navbar-nav" style="width:100%">
                    <li style="max-width:500px; padding: 16px;float:left">
                        <a ui-sref="home.locations" ui-sref-opts="{reload: true}">
                            <img src="assets/layouts/layout3/img/logo-default.jpg" alt="logo" class="logo-default">
                        </a>
                    </li>

                    <li style="margin-top:20px; margin-right:5px" ng-if="isLogged===false" class="pull-right">
                        <a ui-sref="home.register" ui-sref-opts="{reload: true}" style="padding-top: 10px; padding-bottom: 10px;" class=" btn btn-sm btn-block btn-right bg-green-jungle bg-font-green-jungle">
                            <i class="fa fa-registered margin-left-10"></i>Kayıt Ol
                        </a>
                    </li>
                    <li style="margin-top:20px" class="pull-right" ng-if="isLogged===false">
                        <a ui-sref="home.login" ui-sref-opts="{reload: true}" class="btn btn-sm btn-block btn-left bg-blue-steel bg-font-blue-steel" style="padding-top: 10px; padding-bottom: 10px;">
                            <i class="fa fa-sign-in right"></i>Giriş Yap
                        </a>
                    </li>
                    <li class="dropdown dropdown-user dropdown-dark pull-right" ng-if="isLogged===true">
                        <ul class="nav navbar-nav pull-right">
                            <li class="dropdown dropdown-user">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <img alt="" class="image" ng-src="{{profileImg}}" />
                                    <span class="username username-hide-on-mobile"> {{nick|strLimit:12}} </span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                    <li>
                                        <a ui-sref="home.account({userId: userID  })">
                                            <i class="icon-user"></i> Profil
                                        </a>
                                    </li>
                                    <li>
                                        <a ng-click="logout()">
                                            <i class="icon-key"></i> Çıkış Yap
                                        </a>
                                    </li>
                                    <li>
                                        <a ng-show="showAdminPanel" ui-sref="admin">
                                            <i class="icon-key"></i> Admin Panel
                                        </a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--<menu></menu>-->

    </div>
