<div class="page-content-inner">
    <div class="search-page search-content-3">
        <div class="row">
            <div class="col-lg-4">
                <div class="search-filter ">
                    <div class="search-label uppercase">İsme Göre Ara</div>
                    <div class="input right">
                        <ui-select ng-model="selected"
                                   theme="bootstrap"
                                   ng-class="{open: $select.open}" on-select="selectChange($item)"
                                   ng-disabled="false">
                            <ui-select-match placeholder="Ulaşmak İstediğiniz Yeri Arayın.">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="city in model| propsFilter: {name: $select.search, type: $select.search}">
                                <div ng-bind-html="city.name | highlight: $select.search" class="font-blue-dark"></div>
                                <small>
                                    Tür: <span ng-bind-html="''+city.type | highlight: $select.search"></span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="search-label uppercase">Tipe Göre Filtrele</div>
                    <select class="form-control">
                        <option value="-1"></option>
                        <option ng-repeat="type in  locationTypes" value="{{type.LocationType_ID}}">{{type.LocationType_Name}}</option>

                    </select>
                    <button class="btn green bold uppercase btn-block">Sonuçları Listele</button>
                    <br />
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-4" ng-repeat="location in locations">
                        <div class="tile-container">
                            <div class="tile-thumbnail">
                                <a ui-sref="home.locationDetails({locationID:{{location.Location_ID}}})">
                                    <img ng-src="{{location.Location_Banner}}" />
                                </a>
                            </div>
                            <div class="tile-title">
                                <h3>
                                    <a ui-sref="home.locationDetails({location:{{location}}})">{{location.Location_Name}}</a>
                                </h3>

                                <a ng-click="like(location)" ng-if="">
                                    <i class="fa fa-heart font-red"></i>
                                </a>
                                <a href="javascript:;">
                                    <i class="icon-comment font-green-meadow"></i>
                                </a>
                                <div class="tile-desc">
                                    <p>
                                        {{location.Location_Info |limitTo: 100}} {{location.Location_Info.length < 100 ? '' : '...'}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="search-pagination pagination-rounded">
                <ul class="pagination">
                    <li class="page-active">
                        <a href="javascript:;"> 1 </a>
                    </li>
                    <li>
                        <a href="javascript:;"> 2 </a>
                    </li>
                    <li>
                        <a href="javascript:;"> 3 </a>
                    </li>
                    <li>
                        <a href="javascript:;"> 4 </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

