
<div class="col-lg-4 col-md-offset-4 margin-top-20" style="border-style: groove;">

    <div class="modal-header" style="width:100%">
        <div class="portlet box green-dark" style="margin-bottom:-10px">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-plus"></i>Kayıt Ol
                </div>
            </div>
        </div>
        <p class="hint" style="margin-bottom:-5px"> Bilgilerinizi giriniz: </p>

    </div>
    <div class="modal-body">

        <div class="form-group">
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Ad Soyad" name="username" ng-minlength="6"
                   required ng-model="user.User_Name" />

            <div ng-show="form.$submitted || form.username.$touched">
                <p ng-show="form.username.$error.required" class="alert alert-info">Ad-Soyad Alanını Doldurunuz</p>

                <p ng-show="form.username.$error.minlength" class="alert alert-danger">Ad-Soyad  Çok Kısa</p>
            </div>


        </div>
        <div class="form-group">
            <input class="form-control placeholder-no-fix" type="email" required autocomplete="off" id="register_email" placeholder="Email Adresi" name="email" ng-model="user.User_Email" />

            <div ng-show="form.$submitted || form.email.$touched">
                <p ng-show="form.email.$error.required" class="alert alert-info">E-mail Alanını doldurunuz.</p>

                <p ng-show="form.email.$error.email" class="alert alert-danger">Geçersiz Mail Adresi</p>
            </div>



        </div>

        <div class="form-group">
            <input class="form-control placeholder-no-fix" required type="password" autocomplete="off" id="register_password" placeholder="Şifre" name="password" data-ng-model="user.User_Password" />
            <div ng-show="form.$submitted || form.password.$touched">
                <p ng-show="form.password.$error.required" class="alert alert-info">Şifre Alanını Doldurunuz</p>

            </div>
        </div>
        <div class="form-group">
            <input class="form-control placeholder-no-fix" required type="password" autocomplete="off" placeholder="Şifre Tekrar" name="rpassword" ng-model="rpass" />
            <p ng-show="rpass!=user.User_Password" class="alert alert-danger">Şifreler Biribiriyle uyuşmuyor</p>

        </div>


    </div>

    <div class="modal-footer">

        <div class="form-group pull-left" >
            <label class="check">
                <input type="checkbox" name="tnc" required="" ng-model="master" /> Okudum ve kabul ediyorum
                <a href="javascript:;"> Kullanım Koşullarını </a> &
                <a href="javascript:;"> Gizlilik Sözleşmesini</a>
            </label>
            <div ng-show="form.tnc.$touched" ng-checked="master">
                <p ng-show="!master" class="alert alert-info">Sözleşmeyi Kabul Ediniz.</p>

                </div>
             </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Tekrar Şifre :</label>
                <input class="form-control placeholder-no-fix" required type="password" autocomplete="off" placeholder="Re-type Your Password" name="rpassword" ng-model="rpass" />
                <p ng-show="rpass!=user.User_Password" class="alert alert-danger">Şifreler Biribiriyle uyuşmuyor</p>

             </div>         
            <div class="form-actions">
                <button type="submit" ng-disabled="form.$invalid"  id="register-submit-btn" class="btn btn-success uppercase pull-right" ng-click="register()">Submit</button>
            </div>

        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid" id="register-submit-btn" class="btn green-dark btn-success uppercase pull-right margin-bottom-10" ng-click="register()">Kaydet</button>
        </div>

    </div>

</div>



<!--<style type="text/css">
    .register-form input.ng-invalid.ng-touched {
        background-color: #FA787E;
    }

    .register-form.ng-valid.ng-touched {
        background-color: #78FA89;
    }
</style>-->
