<div class="portlet light bordered">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-6">
                <google-map control="map.control" center="map.center" zoom="map.zoom">
                    <marker coords="marker.center"></marker>
                </google-map>
            </div>
            <div class="col-md-6">
                <div id="directionsList" ng-show="directions.showList" class="panel panel-primary"></div>

            </div>
        </div>


    </div>
    <div class="portlet-footer">
        <button type="button" class="btn dark btn-outline" ng-click="initialize()">Close</button>
        <button type="button" class="btn green">Save changes</button>
    </div>
</div>
