<ion-view class="profile-view">
    <ion-nav-title>
        <span>Profile</span>
    </ion-nav-title>
    <ion-content>
        <div class="top-content row">
            <div class="profile-container">
                <div class="user-image-container" style="max-height:200px">
                    <pre-img ratio="_1_1" helper-class="rounded-image" style="max-height:50px!important">
                        <img class="user-image" ng-src="{{profileImg}}" style="max-height:100px!important" spinner-on-load>
                    </pre-img>
                    <button class="button button-small button-assertive button-block" style="margin-top:-50px" ng-click="changePicture()">Değiştir</button>
                </div>
                <div class="user-name">{{nick}}</div>

            </div>

        </div>

        <div class="list">
            <div class="col col-center">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Ad Soyad</span>
                    <input type="text" placeholder="John" class="form-control" ng-model="user.Name" />
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="jsnowbastard@hotmail.com" class="form-control" ng-model="user.Email" />
                </label>
                <a ng-click="changeInfo()" class="button button-small pull-right button-assertive" style="margin:10px"> Değişiklikleri Kaydet </a>

            </div>
        </div>      
</ion-content>
</ion-view>
