<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content class="post-size-14px">
        <ion-nav-bar class="bar app-top-bar">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" class="main-menu" expose-aside-when="large">
        <ion-content>
            <ion-list>
                <ion-item class="heading-item item item-avatar" nav-clear menu-close ui-sref="app.profile({userId: id})">
                    <div class="user-image-container">
                        <pre-img ratio="_1_1" helper-class="rounded-image">
                            <img class="user-image" ng-src="{{profileImg}}" spinner-on-load>
                        </pre-img>
                    </div>
                    <h2 class="greeting">{{nick}}</h2>
                </ion-item>
                <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.home">
                    <i class="icon ion-home"></i>
                    <h2 class="menu-text">Anasayfa</h2>
                </ion-item>
             
                <ion-item ng-if="isLogged" class="item-icon-left" nav-clear menu-close ui-sref="app.settings">
                    <i class="icon ion-gear-a"></i>
                    <h2 class="menu-text">Profil</h2>
                </ion-item>
                <ion-item ng-if="!isLogged" class="item-icon-left" nav-clear menu-close ui-sref="auth.login">
                    <i class="icon ion-log-in"></i>
                    <h2 class="menu-text">Giriş Yap</h2>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
